---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Profile from "../components/mdx-component/profile.mdx"

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <main>
      <Profile />
    </main>
    <Footer />
  </body>
</html>

<style scoped>
h3 {
  padding-bottom: 10px;
}

</style>
