---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";



const pageTitle = "Ebi-yu Resume";

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead/>
  </head>
  <body>
    <Header />
    <main class="flex flex-col justify-center">
      <h1 class="text-center">{pageTitle}</h1>
	  <br>s
      <img
        class="h-96 w-fit justify-center m-auto"
        src="https://raw.githubusercontent.com/ebi-yu/ebi-yu.github.io/main/public/ebi.png"
        alt="Grapefruit slice atop a pile of other slices"
      />
    </main>
    <Footer />
  </body>
</html>
