---
import HeaderLink from './HeaderLink.astro';

---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="#profile">Profile</HeaderLink>
			<HeaderLink href="#career">Career</HeaderLink>
			<HeaderLink href="#activities">Activities</HeaderLink>
			<HeaderLink href="#skils">Skils</HeaderLink>

		</div>
	</nav>
</header>
<script type="module">
document.addEventListener('DOMContentLoaded', () => {
  const links = document.querySelectorAll('a[href^="#"]');
  links.forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      const sectionId = this.getAttribute('href').substring(1);
      const section = document.getElementById(sectionId);
      if (section) {
        section.scrollIntoView({ behavior: 'smooth', block: 'start' });
        window.history.pushState({}, '', '#' + sectionId);
      }
    });
  });
});
</script>
<style>
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  padding: 1em 0.5em;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}
nav a.active {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(var(--gray), 5%);
  z-index: 1000;
  background-color: rgb(var(--white-header))
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: rgb(var(--dark-header));
    box-shadow: 0 2px 8px rgba(var(--gray), 5%);
  }
}
</style>
