---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, TWITTER_URL } from '../consts';

---

<header>
	<nav>
		<!-- ViewTransitionsコンポーネントを使用する場合は、適切に配置してください -->
		<div class="internal-links">
			<HeaderLink href="#profile">自己紹介</HeaderLink>
			<HeaderLink href="#career">経歴</HeaderLink>
			<HeaderLink href="#skill">技能一覧</HeaderLink>
			<HeaderLink href="#other">その他活動</HeaderLink>
		</div>
	</nav>
</header>
<script type="module">
document.addEventListener('DOMContentLoaded', () => {
  const links = document.querySelectorAll('a[href^="#"]'); // IDへのリンクをすべて選択
  links.forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      const sectionId = this.getAttribute('href').substring(1);
      const section = document.getElementById(sectionId);
      if (section) {
        section.scrollIntoView({ behavior: 'smooth' });
      }
    });
  });
});
</script>
<style>
	header {
		position: fixed; /* ヘッダーを固定 */
		top: 0; /* 画面の上部から */
		left: 0; /* 画面の左端から */
		width: 100%; /* 幅を100%に設定 */
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		z-index: 1000; /* 他の要素より前面に表示 */
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	body {
	padding-top: 60px; /* ヘッダーの高さに応じて調整 */
}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 80%) {
		.social-links {
			display: none;
		}
	}
</style>
