---
const { frontmatter } = Astro.props;
---
<html>
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <body >
    <article class="prose lg:prose-xl mx-auto w-9/12">
    <slot />
    </article>
  </body>
</html>

<style>
@tailwind components;

@layer components {
    .article {
      margin: auto !important;
    }
}

</style>